.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbtn {
   background-color: transparent;
   color: black;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   display: inline-block;
}

body, html {
    height: 100%;
    line-height: 1.8;
    font-size: 18px;
    background-color: #FCE61B;
}
.bgimg-1{
    width: 75%;
    height: 100%;
    object-fit: contain;

}
