/* Navigation Bar & Buttons */
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbtn {
   background-color: transparent;
   color: black;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   display: inline-block;
}

body{
  background-image: url('https://c1.staticflickr.com/5/4142/4894306201_d789abedf1_b.jpg');
}

.bgimg-1 {
}
