<html>
<head>
  <title>Budget Management</title>
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
  </div>








</body>
<html>
