<html>
<head>
  <title>Feedback</title>
</head>
<body>

  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "blog.html"><button class="navbtn">BLOG</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
  </div>
  <!-- First Image -->

    <div class="bgimg-1">
      <img class="bgimg-1" src="http://cdn2.hubspot.net/hubfs/203330/Blog/managing-agency-project-budget.jpg">
      <h4><em>(Scroll down)</h4>
    </div>
  <h1>Feedback</h1>

  <p><b><i>Hope that we were able to help you struggle better!</i></b></p>
  <form method="post">
    <p>Name: <input type="text" name="user_name"</p>
    <p>E-mail: <input type="text" name="user_email"</p>
    <p> Which page did you find the most helpful?
      <p></p>
      Stress<input type="radio" name="stress">
      <p></p>
      Nutrition<input type="radio" name="nutrition">
      <p></p>
      Time Management<input type="radio" name="time_management">
      <p></p>
      Budget Management<input type="radio" name="budget_management">
      <p></p>
    </p>
    <p>Write a comment bellow: <input type="text" name="comment_section"</p>
    <button name="submit_feedback">Submit</button>
  </form>
</body>
</html>
