<html>
<head>
  <title>Feedback</title>
</head>
<body>

  <h1>Feedback</h1>

  <p><b><i>Hope that we were able to help you struggle better!</i></b></p>
  <form method="post">
    <p>Name: <input type="text" name="user_name"</p>
    <p>E-mail: <input type="text" name="user_email"</p>
    <p> Which page did you find the most helpful?
      <br>
      Stress<input type="radio" name="stress">
      <br>
      Nutrition<input type="radio" name="nutrition">
      <br>
      Time Management<input type="radio" name="time_management">
      <br>
      Budget Management<input type="radio" name="budget_management">
      <br>
    </p>
    <p>Write a comment bellow: <input type="text" name="comment_section"</p>
    <button name="submit_feedback">Submit<button>
  </form>
</body>
</html>
