<html>
<head>
  <title>Struggle Better</title>
</head>

<body>
<h1>Struggle Better</h1>
<h4><i>"We can't solve all your problems but we can help you through them."</i></h4>
<div class="navbar">
        <a href = "main.html"><button class="navbtn">HOME</button></a>
        <a href = "stress.html"><button class="navbtn">STRESS</button></a>
        <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
        <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
        <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
        <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
</div>
</body>
<footer>This website has been created by  Anthony Portillo, Tania Nelzy, and Mayckol Zuniga.
  <br>
  Please click the button below to leave use feedback. Thank you!
  <br>
  <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
</footer>
</html>
