<html>
<head>
  <title>Struggle Better</title>
  <link rel="stylesheet" href= "/resource/main.css">
</head>

<body>
<div class="navbar">
        <a href = "main.html"><button class="navbtn">HOME</button></a>
        <a href = "stress.html"><button class="navbtn">STRESS</button></a>
        <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
        <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
        <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
        <a href = "feedzzback.html"><button class="navbtn">FEEDBACK</button></a>
</div>

<!-- First Image -->

  <div>
    <img class="bgimg-1" src="/resource/strugglebetter.png">
  </div>









</body>
<footer>This website has been created by Anthony Portillo, Tania Nelzy, and Mayckol Zuniga.
  <br>
  Please click the button below to leave use feedback. Thank you!
  <br>
</footer>
</html>
