<html>
<head>
  <title>Nutrition</title>
  <link rel="stylesheet" href= "/resource/tabs.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="resource/nutrition.js"></script>
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
  </div>

<!-- First Image -->
  <div class="bgimg-1">
    <img class="bgimg-1" src="http://az616578.vo.msecnd.net/files/2016/05/31/636003218872853282535726935_HealthyEating.jpg">
  <h1><em>Eating Healthy</h1><br><h4><em>(Scroll down)</h4>
  </div>

  <!-- About Section -->
  <div class="item-padding">
  <h2><em>Here are 10 tips on healthy eating while in college.</h2>
  <ol>
    <li id="nutrition_tip1"><b>Carbs</b></li>
      <p id="nutrition_tip1P">Choose good carbs, not no carbs. Whole grains are your best bet.</p>
    <li id="nutrition_tip2"><b>Look at protien pack</b></li>
      <p id="nutrition_tip2P">Pay attention to the protein package. Fish, poultry, nuts, and beans are the best choices.</p>
    <li id="nutrition_tip3"><b>Healthy fats</b></li>
      <p id="nutrition_tip3P">Choose foods with healthy fats, limit foods high in saturated fat, and avoid foods with trans fat. Plant oils, nuts, and fish are the healthiest sources.</p>
    <li id="nutrition_tip4"><b>Fiber-filled diet</b></li>
      <p id="nutrition_tip4P">Choose a fiber-filled diet, rich in whole grains, vegetables, and fruits.</p>
    <li id="nutrition_tip5"><b>Eat fruits and vegetables</b></li>
      <p id="nutrition_tip5P">Eat more vegetables and fruits. Go for color and variety—dark green, yellow, orange, and red.</p>
    <li id="nutrition_tip6"><b>Calcium</b></li>
      <p id="nutrition_tip6P">Calcium is important. But milk isn’t the only, or even best, source.</p>
    <li id="nutrition_tip7"><b>Drink water</b></li>
      <p id="nutrition_tip7P">Water is best to quench your thirst. Skip the sugary drinks, and go easy on the milk and juice.</p>
    <li id="nutrition_tip8"><b>Less salt</b></li>
      <p id="nutrition_tip8P">Eating less salt is good for everyone’s health. Choose more fresh foods and fewer processed foods.</p>
    <li id="nutrition_tip9"><b>Moderate Drinking</b></li>
      <p id="nutrition_tip9P">Moderate drinking can be healthy—but not for everyone. You must weigh the benefits and risks.</p>
    <li id="nutrition_tip10"><b>Daily multivitamin</b></li>
      <p id="nutrition_tip10P">A daily multivitamin is a great nutrition insurance policy. Some extra vitamin D may add an extra health boost.</p>
  </ol>

</body>
<html>
