<html>
<head>
  <title>Stress</title>
  <link rel="stylesheet" href= "/resource/tabs.css">
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
  </div>
  <!-- First Image -->

    <div class="bgimg-1">
      <img src="https://c1.staticflickr.com/5/4142/4894306201_d789abedf1_b.jpg">
    </div>
    <h1>STRESS FREE ZONE</h1>

  <!-- About Section -->
    <div class="item-padding">
        <h2>STRESS</h2>
        <h4><em>Here are 10 tips on how you can deal with stress in college.</h4>

          <ol>
            <li><b>Get Enough Sleep</b></li>
            <li><b>Eat Well</b></li>
            <li><b>Exercise</b></li>
            <li><b>Avoid unnatural energy boosters</b></li>
            <li><b>Get emotional support</b></li>
            <li><b>Don't give up your passions</b></li>
            <li><b>Try not to overload yourself</b></li>
            <li><b>Avoid relaxing with alcohol</b></li>
            <li><b>Breathe</b></li>
            <li><b>Get a massage</b></li>
          </ol>
   </div>

  <!-- Second Image -->
          <div class="bgimg-2">
            <img src="https://cdn.pixabay.com/photo/2014/07/13/08/31/stress-391657_960_720.jpg">
          </div>


</body>
<html>
