<html>
<head>
  <title>Stress</title>
  <link rel="stylesheet" href= "/resources/tabs.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="stress.js"></script>
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
  </div>

<h1>Stress</h1>
<h2>Here are 10 tips on how you can deal with stress in college.</h2>
<ol>
  <li id="stress_tip1"><b>Get Enough Sleep</b></li>
    <p id="stress_tip1P">It may be tempting to hit the hay at 4 a.m. and then attend an 8 a.m. class, but shortchanging yourself on rest can increase your stress level.
      Plus, insufficient sleep can put you at risk for serious illnesses, such as diabetes, obesity, and depression. Adults typically need seven to nine hours of sleep a night for best health.</p>
  <li id="stress_tip2"><b>Eat Well</b></li>
  <li id="stress_tip3"><b>Exercise</b></li>
  <li id="stress_tip4"><b>Avoid unnatural energy boosters</b></li>
  <li id="stress_tip5"><b>Get emotional support</b></li>
  <li id="stress_tip6"><b>Don't give up your passions</b></li>
  <li id="stress_tip7"><b>Try not to overload yourself</b></li>
  <li id="stress_tip8"><b>Avoid relaxing with alcohol</b></li>
  <li id="stress_tip9"><b>Breathe</b></li>
  <li id="stress_tip10"><b>Get a massage</b></li>
</ol>

</body>
<html>
