<html>
<head>
  <title>Stress</title>
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
  </div>

<h2>Stress</h2>
<h4>Here are 10 tips on how you can deal with stress in college.</h4>
  <ol><b>Get Enough Sleep</b></ol>
  <ol><b>Eat Well</b></ol>
  <ol><b>Exercise</b></ol>
  <ol><b>Avoid unnatural energy boosters</b></ol>
  <ol><b>Get emotional support</b></ol>
  <ol><b>Don't give up your passions</b></ol>
  <ol><b>Try not to overload yourself</b></ol>
  <ol><b>Avoid relaxing with alcohol</b></ol>
  <ol><b>Breathe</b></ol>
  <ol><b>Get a massage</b></ol>






</body>
<html>
